@import "../../../abstracts/mixins.scss";

.avatar__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 100vh;
    min-width: 100%;
    
}

.avatar__container {
    
    form {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background: rgba(4, 4, 4, 0.5);
        -webkit-backdrop-filter: saturate(180%) blur(5px);
        backdrop-filter: saturate(180%) blur(5px);
        border: 2px solid grey;
        border-radius: 8px;
        input {
            width: 35%;
            min-width: 250px;
            padding: 20px;
            // border: none;
            margin: 20px;
            border-radius: 8px;
            font-size: 20px;
            background-color: transparent;
            
        }
        button {
            @include neonButton(#7ff000,#000)
        }
        button:active {
    
            background-color: lightgray;
        }
    }
    
}

.avatar__container  > img {
  width: 250px;
  border-radius: 10%;
  outline: 5px solid grey;
}



.radio__container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 10px;
}

.radio__option{
    display: flex;
    flex-direction: column;
    align-items: center;
    input {
        height: 25px;
      width: 25px;
    }
}

.set__profile__pic{
    @include neonButton(red,#fff)
}