@import "./categoryCard";
@import "./recipeCard";
@import "./recipeDetail";

.mealDB__component{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    min-height: 100vh;
    background: rgb(18, 18, 18);
    h2{
        padding: 20px;
    }
}

.categories__card__container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.back__arrow {
    display: flex;
    align-items: center;
    padding-top: 30px;
    
    cursor: pointer;
    // bottom: 0;
    &:hover{
        .text__back{
            text-decoration: underline;
        }
        
    }
    @media screen and (min-width: 600px) {
        position: absolute;
        left: 0;
        padding: 30px;
    }
}